<% set_content_for :label do %>
  <div class="hover:bg-gray-100 h-full w-full flex justify-center items-center">
    <%= inline_svg_tag 'svg/dots.svg', class:'h-6 w-6' %>
  </div>
  <span class="pl-2 text-[13px] font-normal">Menu</span>
<% end %>
<% set_content_for :list do %>
  <li><%= link_to 'Organize', not_implemented_path %></li>
  <li class="border-b-[1px] border-b-gray-100"><%= link_to 'Help', not_implemented_path %></li>
  <li class=" "> <%= link_to 'Create an event', new_event_path, class: 'text-blue-600 hover:text-blue-600'  %>
  </li>
  <%= render 'navbar/log_in_items' %>
<% end %>
<% set_content_for :chevron do %>
  <%= inline_svg_tag 'svg/chevron.svg', class: 'h-5 w-4 mt-1 hidden lg:block' %>
<% end %>
