<div class="group hidden lg:flex flex-col h-full justify-center items-center" >
  <div class="h-full w-full flex flex-row justify-center items-center px-5 hover:bg-gray-100
  <%= local_assigns[:is_event_view] ? 'text-[#6f7287] hover:text-[#39364f]' : 'text-[#39364f] ' %>">
    <span>Help</span>
    <div class="relative top-[0px] left-[3px] text-current w-4 h-4">
      <%= render 'navbar/chevron_svg' %>
    </div>
  </div>
  <ul class="hidden absolute min-w-[250px] self-end bg-white text-sm font-normal group-hover:block shadow-sm
  <%= local_assigns[:is_event_view] ? 'top-[60px]' : 'top-[72px]'  %>">
    <li class="px-5 py-4 hover:cursor-pointer text-gray-500 hover:text-gray-800 hover:bg-gray-100">
      <%= link_to 'Find your tickets', not_implemented_path %>
    </li>
    <li class="px-5 py-4 hover:cursor-pointer text-gray-500 hover:text-gray-800 hover:bg-gray-100">
      <%= link_to 'Contact an event organizer', not_implemented_path %>
    </li>
    <li class="px-5 py-4 hover:cursor-pointer text-gray-500 hover:text-gray-800 hover:bg-gray-100">
      <%= link_to 'Visit the help center', not_implemented_path  %>
    </li>
  </ul>
</div>
