<nav class="bg-white w-full min-h-[60px] flex flex-row z-20 border-b-[1px] border-[#eeedf2]">
  <%# TODO: try to make font correct size, should be 13px   %>
  <ul class='w-full flex flex-row font-normal text-[13px] items-center justify-center text-[#6f7287]'>
    <%= link_to root_path do %>
      <%= inline_svg_tag 'svg/eventbrite_logo', class:'h-[20px] px-6 text-cur', style: 'fill: #f05537' %>
    <% end %>
    <%= render partial: 'navbar/search', locals: { is_event_view: true} %>
    <%= render 'navbar/signed_in_event' %>
    <%= render( partial: 'navbar/drop_down_user', layout: 'navbar/dropdown_layout', locals: { is_event_view: true}) if user_signed_in? %>
    <%= render 'navbar/log_in_items' %>
  </ul>
</nav>
