<%# TODO make this a proper modal %>
<div class="flex flex-grow">
  <%= link_to not_implemented_path,
  class: "hidden lg:flex flex-row flex-grow max-w-[472px] max-h-[46px] items-center bg-[#f8f7fa] py-[5px]" do %>
    <div class= 'flex items-center justify-center my-3 ml-3'>
      <%= inline_svg_tag 'svg/magnifying_glass.svg', class:'h-6 w-6', style: 'fill: #a9a8b3' %>
    </div>
    <span class='hidden lg:block bg-[#f8f7fa] border-none text-sm text-gray-600 font-light px-2 py-3'>Search events</span>
  <% end %>
</div>
<div class="ml-auto lg:hidden flex h-full text-[#6f7287]
<%= 'text-[#39364f] min-w-[72px] hover:bg-[#f8f7fa]' unless local_assigns[:is_event_view] %>">
  <%= form_with url: not_implemented_path,
  class: 'w-full h-full flex items-center justify-center text-current' do |f| %>
    <%= f.button (inline_svg_tag 'svg/magnifying_glass.svg', class:'h-6 w-6', fill: 'currentColor'), 'aria-label': 'Search'  %>
  <% end %>
</div>
