<div class="hidden lg:block h-full"><%= render partial: 'navbar/drop_down_organize', layout:'navbar/dropdown_layout' %></div>
<div class="hidden lg:block h-full"><%= render partial: 'navbar/drop_down_help', layout:'navbar/dropdown_layout' %></div>
<%= link_to new_event_path, class: 'hidden px-5 h-full lg:flex items-center hover:bg-[#f8f7fa] text-[#3d64ff]' do %>
  <span>Create an event</span>
<% end %>
<div class="block lg:hidden h-full">
  <%= render partial: 'navbar/drop_down_dots', layout:'navbar/dropdown_layout' %>
</div>
<ul class="[&>*:hover]:bg-gray-100 [&>*]:px-5 flex h-full"><%= render 'navbar/log_in_items' %></ul>
