<div class="flex flex-col w-full px-4 pt-2">
  <span class="text-2xl font-bold pb-4">Check out trending categories</span>
  <ul class="grid grid-cols-2 md:grid-cols-4 gap-3 text-sm text-[#39364f] font-semibold">
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Music</span>
    </li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Performing & Visual Arts</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Travel & Outdoor</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Health</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Hobbies</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Business</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Food & Drink</span></li>
    <li class="border-[1px] rounded-sm border-[#eeedf2] bg-[#f8f7fa] h-[54px] flex flex-row items-center">
      <div class="text-[#f05537] h-14 w-14 justify-center items-center"><%= inline_svg_tag 'svg/music' %></div>
      <span class="pl-4">Sports & Fitness</span></li>
  </ul>
</div>
