<% content_for :page_title do %>
  <div class="flex items-center justify-between">
    Create an account
  </div>
<% end %>
<% content_for :page_form do %>
  <style>
    input:not(:placeholder-shown) + label, input:focus + label {
      top: 0;
      font-size: 12px;
    }
    input:not(:placeholder-shown), input:focus {
      padding-top: 16px;
    }
  </style>
  <%= form_for(resource, as: resource_name, url: new_registration_path(resource_name), data: { turbo: false}) do |form| %>
    <div class="flex flex-col">
      <div class="flex items-center justify-between border-[1px] border-[#dbdae3] bg-[#f8f7fa] ">
        <div class=" flex flex-col font-normal h-[48px] rounded-sm relative" >
          <%= form.hidden_field :email, value: resource[:email] %>
          <%= form.text_field :placeholder, value: resource[:email], class: 'border-none px-3 pt-[18px] pb-[6px] text-sm bg-[#f8f7fa] focus:outline-none', disabled: 'true' %>
          <%= form.label :placeholder, 'Email address', class: 'absolute px-3 pt-[2px] text-xs text-gray-600' %>
        </div>
        <%= render 'devise/registrations/edit_email_button' %>
      </div>
      <%= render 'inline_errors', errors: resource.errors[:password] %>
      <div class="grid grid-cols-2 gap-x-4 mt-2">
        <div class="flex flex-col">
          <div class=" border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center" >
            <%= form.text_field :name, class: 'border-transparent px-3 text-sm', placeholder: ' ' %>
            <%= form.label :name, 'Name', class: 'absolute px-3 pt-[2px] text-sm text-[#6f7287]' %>
          </div>
          <%= render 'inline_errors', errors: resource.errors[:name] %>
        </div>
        <div class="flex flex-col">
          <div class=" border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center" >
            <%= form.text_field :username, class: 'border-transparent px-3 text-sm', placeholder: ' ' %>
            <%= form.label :username, 'Username', class: 'absolute px-3 pt-[2px] text-sm text-[#6f7287]' %>
          </div>
          <%= render 'inline_errors', errors: resource.errors[:username] %>
        </div>
      </div>
      <div class="mt-2 border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center" >
        <%= form.password_field :password, class: 'border-transparent px-3 text-sm', placeholder: ' ' %>
        <%= form.label :password, 'Password', class: 'absolute px-3 pt-[2px] text-sm text-[#6f7287]' %>
      </div>
      <div class="mt-2 border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center ">
        <%= form.password_field :password_confirmation, class: 'border-transparent px-3 text-sm', placeholder: ' ' %>
        <%= form.label :password_confirmation, class: 'absolute px-3 pt-[2px] text-sm text-[#6f7287]' %>
      </div>
      <%= render 'inline_errors', errors: resource.errors[:password_confirmation] %>
      <div class="flex flex-col mt-6 mb-8">
        <%= render 'password_strength_bar' %>
      </div>
      <%= form.submit 'Create Account', class: 'my-4 bg-[#d1410c] w-full flex items-center justify-center min-h-[44px] rounded cursor-pointer font-semibold text-sm text-white', style: 'padding: 0' %>
    </div>
  <% end %>
<% end %>
<% set_content_for :links do %>
  <div class="text-sm font-semibold text-[#3d64ff] hover:underline"><%= link_to  'Log in', new_user_session_path %></div>
<% end%>
