<div class="flex w-full items-center self-start grow">
  <div class="w-full flex flex-col px-12 max-w-7xl mt-10 mb-5">
    <h1 class="font-bold text-3xl">Your Password</h1>
    <div class="w-full py-[10px]"><hr></div>
    <div class="flex w-1/3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
         data: {turbo: false}, method: :put) do |form|%>
        <%= render partial: 'fields/password_field', 
        locals: { resource:, form:, field_name: :password, placeholder: 'New Password', value: 'New Password', hidden: true } %>
        <%= render partial: 'fields/password_field', 
        locals: { resource:, form:, field_name: :password_confirmation, placeholder: 'Repeat Password', value: 'Repeat Password', hidden: true } %>
        <div class="flex flex-col mt-6 mb-8">
          <div class="bg-gray-100 h-1 w-full"></div>
          <span class="pt-2 font-normal text-[13px]">Your password must be at least 8 characters</span>
        </div>
        <%= render partial: 'fields/submit_button', locals: { form: , value: 'Save'} %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :footer do %>
  <%= render 'footer/footer_short' %>
<% end %>
<% content_for :side_bar do %>
  <div class="hidden lg:flex max-w-[288px] w-full"><%= render 'users/sidebar' %></div>
<% end %>
<% content_for :nav_bar do %>
  <%= render 'navbar/navbar' %>
  <%= render 'side_nav_bar', current_page: 'Update Password' %>
<% end %>
