<% if resource.future?  %>
  <%= form_with url: user_event_permissions_url, scope: :user_event_permissions,  data: {turbo: false}, method: :post do |f| %>
    <%= f.hidden_field :event_id, value: resource.id %>
    <%= f.hidden_field :permission_type, value: 'accept_invite' %>
    <%= label_tag :user_event_permissions_identifier_email, 'Invite more people', class: 'text-lg font-semibold mb-2' %>
    <div class="flex flex-row items-center">
      <%= email_field 'user_event_permissions[identifier]', :email, placeholder: 'Enter an email...', required: true,
       class: 'border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center mr-4 grow' %>
      <%= f.submit "Send Invite", class: 'border-2 border-[#a9a8b3] hover:border-[#6f7287] hover:bg-green-200 h-[44px] px-8 rounded' %>
    </div>
  <% end %>
<% end %>
