<footer class="w-full flex flex-col bg-[#1e0a3c]">
  <div class="hidden md:flex">
    <div class="flex flex-col text-white pt-4 pl-6 flex-grow">
      <span class="py-2 font-bold text-sm">Use Eventbrite</span>
      <ul class="flex flex-col text-white font-normal text-xs py-2 leading-[22px] [&>*:hover]:underline">
        <li><%= link_to "How It Works", not_implemented_path %></li>
        <li><%= link_to "For Large & Complex Events", not_implemented_path %></li>
        <li><%= link_to "Pricing", not_implemented_path %></li>
        <li><%= link_to "Content Standards", not_implemented_path %></li>
        <li><%= link_to "Eventbrite Mobile Ticket App", not_implemented_path %></li>
        <li><%= link_to "Eventbrite Check-In App", not_implemented_path %></li>
        <li><%= link_to "Eventbrite App Marketplace", not_implemented_path %></li>
        <li><%= link_to "COVID-19 (Coronavirus) Resources", not_implemented_path %></li>
        <li><%= link_to "FAQs", not_implemented_path %></li>
        <li><%= link_to "Sitemap", not_implemented_path %></li>
      </ul>
    </div>
    <div class="flex flex-col text-white pt-4 pl-6 flex-grow">
      <span class="py-2 font-bold text-sm">Plan Events</span>
      <ul class="flex flex-col text-white font-normal text-xs py-2 leading-[22px] [&>*:hover]:underline">
        <li><%= link_to "Sell Tickets Online", not_implemented_path %></li>
        <li><%= link_to "Event Registration Software", not_implemented_path %></li>
        <li><%= link_to "Online RSVP", not_implemented_path %></li>
        <li><%= link_to "Event Marketing Tools", not_implemented_path %></li>
        <li><%= link_to "Virtual Events Platform", not_implemented_path %></li>
        <li><%= link_to "QR Codes for Events", not_implemented_path %></li>
        <li><%= link_to "Event Payment System", not_implemented_path %></li>
        <li><%= link_to "Nonprofits & Fundraisers Events", not_implemented_path %></li>
        <li><%= link_to "Create & Set Up Events", not_implemented_path %></li>
        <li><%= link_to "Party Planning", not_implemented_path %></li>
      </ul>
    </div>
    <div class="flex flex-col text-white pt-4 pl-6 flex-grow">
      <span class="py-2 font-bold text-sm">Find Events</span>
      <ul class="flex flex-col text-white font-normal text-xs py-2 leading-[22px] [&>*:hover]:underline">
        <li><%= link_to "Virtual Events", not_implemented_path %></li>
        <li><%= link_to "Online Webinars", not_implemented_path %></li>
        <li><%= link_to "Online Classes", not_implemented_path %></li>
        <li><%= link_to "Online Yoga", not_implemented_path %></li>
        <li><%= link_to "Virtual Runs", not_implemented_path %></li>
        <li><%= link_to "Online Zumba Classes", not_implemented_path %></li>
        <li><%= link_to "Virtual Conferences", not_implemented_path %></li>
        <li><%= link_to "Online Seminars", not_implemented_path %></li>
        <li><%= link_to "Online Speed Dating", not_implemented_path %></li>
        <li><%= link_to "Virtual Wine Tasting", not_implemented_path %></li>
      </ul>
    </div>
    <div class="flex flex-col text-white pt-4 pl-6 flex-grow">
      <span class="py-2 font-bold text-sm">Connect With Us</span>
      <ul class="flex flex-col text-white font-normal text-xs py-2 leading-[22px] [&>*:hover]:underline">
        <li><%= link_to "Contact Support", not_implemented_path %></li>
        <li><%= link_to "Contact Sales", not_implemented_path %></li>
        <li><%= link_to "Twitter", not_implemented_path %></li>
        <li><%= link_to "Facebook", not_implemented_path %></li>
        <li><%= link_to "LinkedIn", not_implemented_path %></li>
        <li><%= link_to "Instagram", not_implemented_path %></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col items-center md:grid px-6 mx-auto md:grid-cols-[1fr_3fr_1fr]" >
    <div class="flex text-white font-normal text-xs py-4 ">
      <span>2022 Eventbrite </span>
    </div>
    <ul class="flex flex-wrap text-white font-normal text-xs py-4 justify-center leading-[22px] [&>*:hover]:underline">
      <li><%= link_to "How It Works", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Pricing", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Contact Support", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Contact Sales", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "About", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Blog", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Help", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Careers", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Press", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Investors", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Security", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Developers", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Terms", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Privacy", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "CA Privacy Notice", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Accessibility", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
      <li><%= link_to "Cookies", not_implemented_path %><%= render 'footer/footer_spacer' %></li>
    </ul>
    <div class="flex text-white font-normal text-xs py-3 px-[14px] justify-center items-center">
      <span class="pr-2">United States</span>
      <div class="relative top-0 left-[3px] text-gray-300 w-4 h-4">
        <%= render 'navbar/chevron_svg' %>
      </div>
    </div>
  </div>
</footer>
