<div class="flex flex-row items-center">
  <%= link_to resource do %>
    <div class="flex flex-col text-[#39364f]">
      <div class="font-semibold text-base clamp-two"><%= resource.username.titleize %> | <%= resource.name.titleize %></div>
      <div class="flex flex-row items-center">
        <%= inline_svg_tag 'svg/user_placeholder.svg', class: 'h-4 w-4' %>
        <div class="font-semibold text-base pl-2">3.4k followers</div>
      </div>
    </div>
  <% end %>
  <% if local_assigns[:show_share] %>
    <%= link_to not_implemented_path, class: 'cursor-pointer' do %>
      <%= inline_svg_tag 'svg/share.svg', class:'h-6 w-6' %>
    <% end %>
  <% end %>
</div>
