<div class="flex w-full items-center justify-center" x-data={} x-intersect:enter="$store.user_in_view = true" x-intersect:leave="$store.user_in_view = false">
  <div class="h-[840px]">
    <div class="flex flex-col absolute top-0 bottom-0 left-0 right-0 mt-[-10%] overflow-hidden">
      <%= image_tag 'profile_picture_placeholder.png', class: 'blur-lg h-[200%] w-[200%]' %>
    </div>
  </div>
  <div class="flex flex-col text-center items-center justify-center bg-white z-10 w-[672px] shadow-2xl rounded my-16 py-16">
    <%= image_tag 'profile_picture_placeholder.png', size: '200x200', style: 'border-radius: 9999px' %>
    <h1 class="py-4 text-5xl leading-[40px] font-extrabold"><%= user.username.titleize %></h1>
    <p class="font-normal text-sm text-[#6f7287]">Hosted <%= user.events_created.count %> events total</p>
    <p class="font-normal text-sm text-[#6f7287] pt-1"><%= rand(99999) %> followers</p>
    <div class="flex items-center justify-center mt-4 ml-4 h-11 border-2 border-[#3659e3] rounded-[4px] hover:bg-[#f8f7fa]">
      <span class="font-semibold text-sm px-8 pb-[1px] text-[#3659e3]">Follow</span>
    </div>
    <div class="pt-8 items-center">
      <div class="bg-[#f8f7fa] rounded-full hover:bg-gray-200 p-2">
        <%= inline_svg_tag 'svg/globe', class: 'h-6 w-6' %>
      </div>
    </div>
    <div class="pt-8">
      <div class="flex justify-center items-center px-8 h-11 hover:bg-gray-200 rounded">
        <span class="text-[#3659e3] text-sm font-semibold">Contact the organizer</span>
      </div>
    </div>
  </div>
</div>
<nav class="w-full flex font-semibold text-base px-4" x-data x-show="$store.user_in_view">
  <ul class="[&>*]:pb-4 [&>*]:mr-6">
    <li class="text-[#3d64ff] border-b-2 border-b-[#3d64ff]"><span class="">Events</span></li>
  </ul>
</nav>
<nav class="fixed top-0 bg-white z-30 w-full flex flex-col font-semibold text-base px-4 shadow-lg" x-data x-cloak x-show="! $store.user_in_view">
  <div class="pt-8 pb 16 flex justify-between items-center">
    <h1 class="py-4 text-3xl leading-[40px] font-bold"><%= user.username.titleize %></h1>
    <div class="flex items-center justify-center mt-4 ml-4 h-11 border-2 border-[#3659e3] rounded-[4px] hover:bg-[#f8f7fa]">
      <span class="font-semibold text-sm px-8 pb-[1px] text-[#3659e3]">Follow</span>
    </div>
  </div>
  <ul class="[&>*]:pb-4 [&>*]:mr-6">
    <li class="text-[#3d64ff] border-b-2 border-b-[#3d64ff] w-fit"><span class="">Events</span></li>
  </ul>
</nav>
