<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('user_in_view', true)
      })
</script>
<div class="flex items-center">
  <div class="bg-white flex flex-col h-full py-10">
    <div class="">
      <%= render @user %>
    </div>
    <div class="flex flex-col py-8 px-8" x-data="{ time_filter: 'future' }">
      <h2 class="pb-3 text-3xl leading-[40px] font-bold"><%= @user.username.titleize %></h2>
      <div class="flex pb-8" >
        <button class="rounded-full mr-1 py-2 px-4 h-[44px] border-2 border-[#a9a8b3]" @click="time_filter = 'future'"
        :class="time_filter == 'future' && 'bg-[#3150cc] text-white border-none'">
          <span class="font-semibold">Upcoming (<%= @user.events_created.future.count %>)</span>
        </button>
        <button class="rounded-full mr-1 py-2 px-4 border-2 h-[44px] border-[#a9a8b3]" @click="time_filter = 'past'"
        :class="time_filter == 'past' && 'bg-[#3150cc] text-white border-none'">
          <span class="font-semibold">Past (<%= @user.events_created.past.count %>)</span>
        </button>
      </div>
      <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 justify-items-center" x-show="time_filter == 'future'">
        <%= render partial: 'events/event', collection: @user.events_created.future.limit(12), locals: {is_event_view: true} %>
      </div>
      <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 justify-items-center" x-show="time_filter == 'past'">
        <%= render partial: 'events/event', collection: @user.events_created.past.limit(12), locals: {is_event_view: true} %>
      </div>
    </div>
  </div>
</div>
<% content_for :footer do %>
  <%= render 'footer/footer_extended' %>
<% end %>
<% content_for :nav_bar do %>
  <%= render 'navbar/navbar_event' %>
<% end %>
