<div class="bg-white flex flex-col h-full py-10 px-24">
  <div class="">
    <%= render @user %>
  </div>
  <div class="flex flex-col py-4 w-full">
    <div class="flex flex-col w-full">
      <div class="text-xl font-extrabold p-2">User Created Events:</div>
      <div class="grid grid-cols-3 justify-items-center gap-y-8">
        <%= render @user.events_created %>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <div class="text-xl font-extrabold p-2">Attending Events:</div>
      <div class="grid grid-cols-3 justify-items-center gap-y-8">
        <%= @user.events_attended %>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <div class="text-xl font-extrabold p-2">Invited to Events:</div>
      <div class="grid grid-cols-3 justify-items-center">
        <%= @user.events_pending %>
      </div>
    </div>
  </div>
  <div class=""><%= render 'events/event_bottom_bar' %></div>
</div>
