<% if event.future && false %>
  <div class="flex flex-row w-full mt-auto">
    <div class=""><%= render 'attended_events/create_button', resource: event %></div>
    <div class=""><%= render 'attended_events/delete_button', resource: event %></div>
  </div>
<% end %>
<div class="flex flex-row w-full justify-evenly py-8">
  <%= link_to 'Edit Event', [:edit, event], class: 'bg-green-400 rounded-md py-4 text-center w-full' %>
  <div class="w-full ml-8">
    <%= button_to 'Delete Event', event, method: :delete, class: 'bg-red-500 rounded-md py-4 w-full text-center' %>
  </div>
</div>
<%= render 'attended_events/create_invite_form', resource: event %>
