<div class="flex">
  <div class="pr-3 pt-1">
    <%= inline_svg_tag 'svg/calendar', class:'w-4 h-4', fill:'currentColor' %>
  </div>
  <div class="flex flex-col w-full">
    <div class="">
      <h3 class="font-semibold text-base mb-2 leading-6">Date and Time</h3>
    </div>
    <div class="text-[#39364f] font-normal text-sm"><%= resource.date.strftime("%a, %B %-d, %Y") %></div>
    <div class="text-[#39364f] font-normal text-sm">
      <%= resource.created_at.strftime("%l:%M %p") %>-<%= resource.date.strftime("%l:%M %p %Z") %>
    </div>
    <div class="flex border border-[#dbdae3] w-full items-center justify-between h-[46px] p-3 mt-6 mb-2 text-[#39364f] rounded-[1px]">
      <span class="font-normal text-sm">Select a different date</span>
      <div class="h-4 w-4 text-current"><%= render 'navbar/chevron_svg' %></div>
    </div>
  </div>
</div>
