<%= form_with model: resource, data: {turbo: false}, method: method, class: 'flex flex-col pb-16 gap-4 max-w-lg w-full' do |form| %>
  <%= form.text_field :name, placeholder: 'Enter a name for the event...', class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 block w-full'%>
  <%= render 'inline_errors', errors: resource.errors[:name] %>
  <%= form.text_field :desc, placeholder: 'Describe the event...', class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 block w-full' %>
  <%= render 'inline_errors', errors: resource.errors[:desc] %>
  <%= form.text_field :location, placeholder: 'Enter a location...', class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 block w-full' %>
  <%= render 'inline_errors', errors: resource.errors[:location] %>
  <%= form.datetime_local_field :date, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 block w-full' %>
  <%= render 'inline_errors', errors: resource.errors[:date] %>
  <div class="flex flex-col bg-gray-100 p-4 mt-6">
    <%= render 'radio_buttons_event_privacy', form: form %>
    <%= render 'radio_buttons_display_privacy', form: form %>
  </div>
  <%= form.submit 'Submit', class: 'w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-bold text-white capitalize transition disabled:opacity-25 focus:outline-none hover:bg-red-700 active:bg-red-700 focus:border-red-700 focus:ring focus:ring-red'%>
<% end %>
