<% if event.viewable_by?(current_user) %>
  <div class="flex flex-col mr-4 mb-4 shadow-xl hover:shadow-xl">
    <%= image_tag "event_placeholder.jpg", size: "20x20", class: "w-full border-2" %>
    <div class="flex flex-col p-2 h-full">
      <%= link_to event do %>
        <%= content_tag :div, class: "flex flex-row w-full justify-between my-2" do %>
          <div class="font-black text-lg"><%= event.name.titleize %></div>
          <%= render "events/lock", resource: event %>
          <%= render "events/expired", resource: event %>
        <% end%>
      <% end %>
      <div class="text-yellow-500 font-bold"><%= event.date.to_formatted_s(:long_ordinal) %></div>
      <div class=""><%= event.location.titleize %> - <%= event.location.titleize %></div>
      <div class="font-bold mt-auto"><%= render "users/short_user", resource: event.creator %></div>
      <div class="flex flex-row w-full">
        <%= render 'user_event_permissions/curr_user_join_button.html', resource: event %>
        <%= render 'user_event_permissions/curr_user_leave_button.html', resource: event  %>
      </div>
    </div>
  </div>
<% end %>
