<% if event.viewable_by?(current_user) %>
  <div class="h-full <%= 'p-4' unless local_assigns[:is_event_view] %>">
    <div class="flex flex-col h-full shadow-2xl shadow-gray-200 
    <%= 'hover:shadow-gray-400' unless local_assigns[:is_event_view] %>">
      <div class="w-full relative">
        <%= link_to event do %>
          <%= image_tag event.image_url %>
        <% end %>
        <div class="absolute -top-4 -right-3"><%= render 'events/event_tags_bar', resource: event %></div>
        <%= render 'user_event_permissions/heart_perm_button', resource: event %>
      </div>
      <%= link_to event do %>
        <div class="flex flex-col px-4 py-6">
          <div class="font-bold text-xl overflow-hidden"><%= event.name.titleize %></div>
          <div class="text-[#d1410c] font-semibold text-base pb-1 pt-2">
            <% if event.date.to_a[3..] == Time.now.to_a[3..] %>
              Today at<%= event.date.strftime(" %I:%M %p") %>
            <% else %>
              <%= event.date.strftime("%a, %b %e, %I:%M %p") %>
            <% end%>
            + <%= rand(99) %> more events 
          </div>
          <div class="over-hidden text-base font-normal text-gray-400"><%= event.location.titleize %> - <%= event.location.titleize %></div>
          <div class="pt-1">
            <%= render "users/short_user_alt", resource: event.creator %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
