<div class="h-full w-full md:w-2/3 p-4 lg:hover:shadow-lg">
  <div class="flex flex-row h-full justify-between">
    <div class="w-full flex flex-col pb-3 pr-4">
      <%# TODO remove testing code %>
      <div class="font-bold text-xl clamp-three">
        <%= event_small.name.titleize %>
      </div>
      <div class="text-[#d1410c] font-semibold text-base pb-1 pt-2"><%= event_small.date.strftime("%a, %b %e, %I:%M %p") %></div>
      <div class="text-base font-normal text-[#6f7287] clamp-one"><%= event_small.location.titleize %> - <%= event_small.location.titleize %></div>
      <div class="text-base font-normal text-[#6f7287] mt-1"><%= event_small.price %></div>
      <div class="pt-1">
        <%= render "users/short_user_alt", resource: event_small.creator %>
      </div>
    </div>
    <div class="flex flex-col h-full justify-between items-end">
      <div class="h-[100px] sm:w-[200px] w-[100px] bg-cover border border-[#dbdae3]" style="background-image: url('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F232537269%2F213108451434%2F1%2Foriginal.20220218-133834?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C4%2C1200%2C600&s=44bbb722accd785fe8a02da5a71666a4')">
      </div>
      <div class="flex px-4 items-center pb-4">
        <div class="p-2 text-[#4b4d63] rounded-full hover:bg-gray-100 relative flex flex-col items-center group mr-1">
          <%= link_to not_implemented_path, class: 'cursor-pointer' do %>
            <%= inline_svg_tag 'svg/share', class:'h-6 w-6' %>
          <% end %>
        </div>
        <div class="p-2 text-[#4b4d63] border border-[#4b4d63] rounded-full hover:bg-gray-100">
          <%= link_to not_implemented_path, class: 'cursor-pointer' do %>
            <%= inline_svg_tag 'svg/heart', class:'h-6 w-6' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
