<div x-data="{setting_description: '<%= resource.send(group_value) || 'public' %>'}">
  <div class="flex text-sm font-normal [&>*]:mr-4 [&>*]:flex-grow mb-1 w-full">
    <% radio_buttons.map { |v| v[:val] }.each do |value| %>
      <%= render partial: 'events/generic_radio_button', locals: {group_value: , value:, form:, resource:} %>
    <% end %>
  </div>
  <div class="bottom-0">
    <%= render 'inline_errors', errors: resource.errors[group_value] %>
    <% radio_buttons.each do |button| %>
      <p class="font-normal text-sm break-normal leading-6" x-show="setting_description == '<%= button[:val] %>'"><%= button[:desc] %></p>
    <% end %>
  </div>
</div>
