<div class="flex flex-col">
  <h3 class="text-base pb-[6px]">Share with friends</h3>
  <ul class="flex items-center text-[#4b4d63] 
  [&>*]:flex [&>*]:justify-center [&>*]:items-center [&>*]:p-2">
    <li><%= inline_svg_tag 'svg/fb_logo', class:'h-6 w-6' %></li>
    <li><%= inline_svg_tag 'svg/messenger_logo', class:'h-6 w-6' %></li>
    <li><%= inline_svg_tag 'svg/instagram_logo', class:'h-6 w-6' %></li>
    <li><%= inline_svg_tag 'svg/twitter_logo', class:'h-6 w-6' %></li>
    <li><%= inline_svg_tag 'svg/mail', class:'h-6 w-6' %></li>
  </ul>
</div>
