<div class="w-full grid grid-cols-3 py-[10px] h-[66px] border-[#dbdae3] border-y-[1px] sticky top-[-1px] bg-white justify-between">
  <div class="col-start-1 flex w-full h-[44px] py-[10px]">
    <div class="flex px-4 items-center">
      <div class="p-2 text-[#4b4d63]">
        <%= inline_svg_tag 'svg/share', class:'h-6 w-6' %>
      </div>
      <div class="p-2 text-[#4b4d63]">
        <%= inline_svg_tag 'svg/heart', class:'h-6 w-6' %>
      </div>
    </div>
  </div>
  <div class="flex col-start-2 justify-end items-center pr-6"  x-data x-show="! $store.price_in_view" x-cloak x-transition>
    <span><%= resource.price %></span>
  </div>
  <% if current_user&.attending?(resource.id) %>
    <%= form_with url: user_event_permissions_url, scope: :user_event_permissions, method: :delete, data: { turbo: 'false' }, class: "col-start-3" do |form| %>
      <%= form.hidden_field :event_id, value: resource.id %>
      <%= form.hidden_field :permission_type, value: 'attend' %>
      <%= form.button class: "w-full flex justify-center px-4 h-full" do %>
        <div class="flex text-white text-sm w-full font-semibold bg-[#0d8547] rounded-[4px] px-[30px] h-full pb-[1px] items-center justify-center">
          <span>Leave</span>
        </div>
      <% end%>
    <% end %>
  <% else %>
    <%= form_with url: user_event_permissions_url, scope: :user_event_permissions, method: :post, data: { turbo: 'false' }, class: "col-start-3" do |form| %>
      <%= form.hidden_field :event_id, value: resource.id %>
      <%= form.hidden_field :permission_type, value: 'attend' %>
      <%= form.button class: "w-full flex justify-center px-4 h-full" do %>
        <div class="flex text-white text-sm w-full font-semibold bg-[#0d8547] rounded-[4px] px-[30px] h-full pb-[1px] items-center justify-center">
          <span>Register</span>
        </div>
      <% end%>
    <% end %>
  <% end %>
</div>
