<div class="flex flex-col w-full">
  <h3 class="text-base">Tags</h3>
  <div class="flex flex-wrap">
    <%= render partial: 'tag', locals: { tag_text: "United States Events" } %>
    <%= render partial: 'tag', locals: { tag_text: "Georgia Events" } %>
    <%= render partial: 'tag', locals: { tag_text: "Things to do in Atlanta, GA" } %>
    <%= render partial: 'tag', locals: { tag_text: "Atlanta Parties" } %>
    <%= render partial: 'tag', locals: { tag_text: "Atlanta Food & Drink Parties" } %>
  </div>
</div>
