<div class="">New Event Form</div>
<div class="">
  <%= form_with model: @event, data: {turbo: false} do |form| %>
    <%= form.text_field :location, placeholder: 'Enter a location...' %>
    <%= form.datetime_local_field :date %>
    <%= render "devise/shared/error_messages", resource: @event %>
    <%= form.submit 'Submit'%>
  <% end%>
</div>
