<div class="bg-white flex flex-col">
  <%= render 'full_event', resource: @event %>
  <%= render 'event_invite_sticky_bar', resource: @event %>
  <div class="px-16">
    <div class="flex flex-row">
      <div class="flex flex-col max-w-screen-lg w-full px-16 py-8">
        <div class="font-extrabold text-3xl"><%= @event.name.titleize %></div>
        <div class="font-extrabold mt-8">About this event</div>
        <%= render 'event_placeholder_text' %>
      </div>
      <div class="px-8 mx-8 min-w-max">
        <div class="py-16">
          <div class="font-extrabold">Date and Time</div>
          <div class=""><%= @event.date.to_formatted_s(:long_ordinal) %></div>
        </div>
        <div class="py-16">
          <div class="font-extrabold">Location</div>
          <div class=""><%= @event.location %></div>
        </div>
      </div>
    </div>
    <%= render 'event_mod_tools', resource: @event %>
    <%= render 'events/attendees_listing', resource: @event %>
  </div>
  <%= render 'event_bottom_bar' %>
</div>
