<div class="flex flex-col h-full w-full items-center">
  <div class="bg-white flex flex-col max-w-7xl items-center">
    <%= render 'full_event', resource: @event %>
    <%= render 'sticky_navbar', resource: @event %>
    <div class="px-2 pb-5">
      <div class="grid grid-cols-12 pt-12 pb-10">
        <div class="flex flex-col col-start-2 col-end-8 pl-1">
          <span class="font-normal text-base text-[#39364f] mb-8"><b><%= @event.name.titleize %></b></span>
          <div class="flex flex-col">
            <h2 class="font-semibold text-xl mb-5">About this event</h2>
            <div class="text-[15px] text-[#6f7287]"><%= render 'placeholder_text' %></div>
            <div class="mt-12"><%= render 'tags' %></div>
            <div class="mt-12"><%= render 'share' %></div>
          </div>
        </div>
        <div class="col-start-9 col-end-13 pr-1 flex flex-col">
          <div class="mb-12"><%= render 'date_time', resource: @event %></div>
          <div class="mb-12"><%= render 'location', resource: @event %></div>
        </div>
      </div>
    </div>
    <%= render 'listing_map', resource: @event %>
    <%= render 'mod_tools', resource: @event %>
    <%= render 'events/potential_participant_listing', resource: @event %>
    <%= render 'bottom_bar' %>
  </div>
</div>
