<div class="bg-white flex flex-col h-full py-10 px-24">
  <div class=""><%= render partial: 'full_event', locals: { event: @event } %></div>
  <% if current_user&.id == @event.creator.id %>
    <div class="flex flex-row w-full justify-evenly py-8">
      <%= link_to 'Edit Event', [:edit, @event], class: 'bg-green-400 rounded-md py-4 text-center w-full' %>
      <div class="w-full ml-8">
        <%= button_to 'Delete Event', @event, method: :delete, class: 'bg-red-500 rounded-md py-4 w-full text-center' %>
      </div>
    </div>
    <%= render 'attended_events/create_invite_form', resource: @event %>
  <% end %>
  <div class="flex flex-row py-4 w-full">
    <div class="flex flex-col w-full pr-8">
      <div class="">Attendees:</div>
      <div class="flex flex-col py-2">
        <% @event.accepted_invites.each do |attendee| %>
          <%= render partial: 'users/short_user', locals: {user: attendee, show_revoke_button: current_user&.id == @event.creator.id} %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col w-full pl-8">
      <div class="">Pending Invites:</div>
      <div class="flex flex-col py-2">
        <% @event.pending_invites.each do |pending| %>
          <%= render partial: 'users/short_user', locals: {user: pending, show_revoke_button: current_user&.id == @event.creator.id} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class=""><%= render 'event_bottom_bar' %></div>
</div>
