<div class="w-full flex flex-col items-center">
  <div class="w-full min-h-screen py-6 sm:max-w-md flex flex-col justify-center mx-6">
    <h2 class='mb-6 text-center text-5xl font-extrabold'>Welcome.</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false}) do |form| %>
      <div class="field mb-4">
        <%= form.label :email, class: 'block mb-1' %>
        <%= form.email_field :email, autocomplete: 'email', autofocus: true, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
      </div>
      <div class="field mb-4">
        <%= form.label :password, class: 'block mb-1' %>
        <%= form.password_field :password, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:putline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
      </div>
      <div class="mt-6 flex items-center justify-between">
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= form.check_box :remember_me, class: 'border border-gray-500 text-red-600 shadow-sm focur:border-red-300 focus:ring focus:ring-red-200 focus:ring-opactity-50'%>
            <%= form.label :remember_me, 'Remember me', class: 'ml-2 block text-sm leading-5 text-gray-900' %>
          </div>
        <% end %>
        <%= link_to 'Forgot your password?', new_user_session_path, class: 'text-sm hover:underline' %>
      </div>
      <div class="mt-6">
        <%= form.submit 'Sign In', class: 'w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-bold text-white capitalize transition disabled:opacity-25 focus:outline-none hover:bg-red-700 active:bg-red-700 focus:border-red-700 focus:ring focus:ring-red' %>
      </div>
      <div class="mt-6 text-center text-sm">
        Don't have an account? <%= link_to 'Sign up.', new_user_registration_path, class: 'underline font-bold' %>
      </div>
    <% end %>
  </div>
</div>
