<div class="alert-flash flex p-1 text-red-900" role="alert">
  <div class="shadow-sm flex w-full rounded-md bg-red-50 border-[1px] border-gray-100">
    <div class="w-2 bg-red-700 relative left rounded-l-md"></div>
    <div class="px-5 flex items-center text-[13px] w-full">
      <div class="pr-4 py-2">
        <%= inline_svg_tag 'svg/alert_icon.svg', class: 'h-6 w-6' %>
      </div>
      <div class="py-3">
        <strong class=" font-semibold">
          This feature is not yet implemented. Consider supporting the developer with an offer of employment.
        </strong>
      </div>
      <div class="pl-4 flex flex-grow justify-end ">
        <ul class="flex md:flex-row flex-col text-gray-700 gap-x-4 [&>*]:gap-x-2">
          <%= link_to 'https://github.com/elasticspoon', target: '_blank', 'aria-label': 'Github Link', class: 'flex items-center hover:bg-white px-4 py-2 rounded-full' do %>
            <span>Github</span>
            <%= inline_svg_tag 'svg/logo-github.svg', class: 'h-6 w-6' %>
          <% end %>
          <%= mail_to 'ybocharov95@gmail.com', 'aria-label': 'Email Link', class: 'flex items-center hover:bg-white px-4 py-2 rounded-full' do %>
            <span>Email</span>
            <%= inline_svg_tag 'svg/mail.svg', class: 'h-6 w-6' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
