<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
 data: {turbo: false}, method: method) do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: 'block mb-1' %>
    <%= form.text_field :name, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
    <%= render 'inline_errors', errors: resource.errors[:name] %>
  </div>
  <div class="mb-4">
    <%= form.label :username, class: 'block mb-1' %>
    <%= form.text_field :username, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
    <%= render 'inline_errors', errors: resource.errors[:username] %>
  </div>
  <div class="mb-4">
    <%= form.label :email, class: 'block mb-1' %>
    <%= form.email_field :email, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
    <%= render 'inline_errors', errors: resource.errors[:email] %>
  </div>
  <div class="mb-4">
    <%= form.label :password, class: 'block mb-1' %>
    <%= form.password_field :password, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
    <%= render 'inline_errors', errors: resource.errors[:password] %>
  </div>
  <div class="mb-4">
    <%= form.label :password_confirmation, class: 'block mb-1' %>
    <%= form.password_field :password_confirmation, class: 'px-3 py-2 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full'%>
    <%= render 'inline_errors', errors: resource.errors[:password_confirmation] %>
  </div>
  <%= yield form %>
<% end %>
