<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="h-full min-h-screen w-screen flex flex-col bg-gray-300">
      <%= render 'navbar' %>
      <%= render 'notices' %>
      <div class="w-full flex flex-row justify-evenly">
        <div class=""></div>
        <div class="w-full max-w-screen-xl">
          <%= current_user.id %>
          <%= current_user.username %>
          <%= yield %>
        </div>
        <div class=""></div>
      </div>
    </main>
  </body>
</html>
