<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="h-full w-screen flex flex-col bg-gray-300">
      <%= render 'navbar' %>
      <div class="notice bg-green-700 w-full"><%= notice %></div>
      <div class="alert bg-red-700 w-full"><%= alert %></div>
      <div class="w-full flex flex-row justify-evenly">
        <div class="w-full max-w-xs"></div>
        <div class="w-full">
          <%= yield %>
        </div>
        <div class="w-full max-w-xs"></div>
      </div>
    </main>
  </body>
</html>
