<% content_for :content do %>
  <%= render 'navbar/navbar_event' %>
  <%= render 'notices' %>
  <main class="min-h-screen w-full flex flex-col bg-white">
    <%= yield %>
  </main>
  <%= render 'footer/footer_short' %>
<% end %>
<%= render template: 'layouts/application' %>
