<% content_for :content do %>
  <%= render 'navbar/navbar' %>
  <%= render 'notices' %>
  <main class="h-full min-h-screen w-full flex flex-col bg-white">
    <%= yield %>
  </main>
  <%= render 'footer/footer_extended' %>
<% end %>
<%= render template: 'layouts/application' %>
